{
  "data_catalog_api": "https://data.dev.mint.mosorio.dev",
  "google_maps_key": "secret",
  "model_catalog_api": "https://api.models.dev.mint.mosorio.dev/v1.8.0",
  "ensemble_manager_api": "https://dev.ensemble.mint.isi.edu/v2",
  "graphql": {
    "endpoint": "graphql.dev.mint.mosorio.dev/v1/graphql",
    "secret": "secret"
  },
  "execution_engine": "localex",
  "localex": {
    "codedir": "/data/storage/mint/local-execution/code",
    "datadir": "/data/storage/mint/data-catalog/production/local-execution",
    "dataurl": "https://data.mint.isi.edu/files/local-execution",
    "logdir": "/data/storage/mint/data-catalog/production/local-execution/logs",
    "logurl": "https://data.mint.isi.edu/files/local-execution/logs",
    "parallelism": 51
  },
  "visualization_url": "https://dev.viz.mint.isi.edu",
  "ingestion_api": "https://node2.ingestion.mint.isi.edu/v1.3.0",
}
