// For maps you need a google maps api key
export const GOOGLE_API_KEY = "YOUR_GOOGLE_API_KEY";

// For firestore we need the configuration object.
// Check https://firebase.google.com/docs/reference/js/firebase#initializeapp
export const FIREBASE_PROD_CONF = {
    "apiKey": "",
    "authDomain": "",
    "databaseURL": "",
    "projectId": "",
    "storageBucket": "",
    "messagingSenderId": "",
    "appId": ""
}

// For dev you can define another configuration object or use the production one.
export const FIREBASE_DEV_CONF = FIREBASE_PROD_CONF;
